.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenzies-container {
  height: 80vh;
}

.card {
  width: 320px;
  height: 320px;
  background: #F5F5F5;
  border-radius: 10px;
  
  padding: 30px;
}

.die-num {
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.card-dice {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.desc {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  width: 95px;
  height: 35px;
  margin-top: 25px;
  background: #5035FF;
  color: #FFF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.fix-height {
  height: 100vh;
}